<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A Treatise on Good Manners and Good Breeding (1754, published posthumously)</key>
	<string>Good manners is the art of making those people easy with whom we converse. Whoever makes the fewest persons uneasy is the best bred in the company.</string>
	<key>A Modest Proposal (1729)</key>
	<string>I have been assured by a very knowing American of my acquaintance in London, that a young healthy child well nursed is at a year old a most delicious, nourishing, and wholesome food, whether stewed, roasted, baked, or boiled; and I make no doubt that it will equally serve in a fricassee or a ragout.</string>
	<key>To Love, found in Miss Vanhom­righ&apos;s desk after her death, in Swift&apos;s hand­writing</key>
	<string>So weak thou art, that fools thy power despise;
And yet so strong, thou triumph&apos;st o&apos;er the wise.</string>
	<key>Letter to a Young Clergyman (January 9, 1720), on proving Christianity to unbelievers</key>
	<string>Reasoning will never make a man correct an ill opinion, which by reasoning he never acquired...</string>
	<key>Cadenus and Vanessa (1713)</key>
	<string>&apos;Tis an old maxim in the schools,
That flattery&apos;s the food of fools;
Yet now and then your men of wit
Will condescend to take a bit.</string>
	<key>A Preface to the Bishop of Sarum&apos;s Introduction to the Third Volume of the History of the Reformation of the Church of England (8 December, 1713)</key>
	<string>But nothing is so hard for those who abound in riches, as to conceive how others can be in want.</string>
	<key>Journal to Stella (November 8, 1710)</key>
	<string>&apos;Tis very warm weather when one&apos;s in bed.</string>
	<key>Hints Toward an Essay on Conversation (1709)</key>
	<string>And surely one of the best rules in conversation is, never to say a thing which any of the company can reasonably wish had been left unsaid…</string>
	<key>The Tatler No. 63 (September 1709)</key>
	<string>There are few, very few, that will own themselves in a mistake, though all the World sees them to be in downright nonsense.</string>
	<key>A Tritical Essay upon the Faculties of the Mind (1707)</key>
	<string>Laws are like cobwebs, which may catch small flies, but let wasps and hornets break through.</string>
	<key>The Battle of the Books, preface (1704)</key>
	<string>Satire is a sort of glass, wherein beholders do generally discover everybody&apos;s face but their own.</string>
</dict>
</plist>
